.about{

    padding:90px 80px;

    background:#f8fbff;

    text-align:center;

}

.about h2{

    font-size:48px;

    color:#0B3D91;

    margin-bottom:30px;

}

.about p{

    max-width:900px;

    margin:auto;

    font-size:20px;

    color:#555;

    line-height:1.8;

}

.about-features{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

    max-width:800px;

    margin:50px auto;

    font-size:20px;

    font-weight:600;

    color:#333;

}

.stats{

    display:flex;

    justify-content:center;

    gap:30px;

    margin-top:60px;

    flex-wrap:wrap;

}

.stat-card{

    width:220px;

    padding:30px;

    background:white;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s;

}

.stat-card:hover{

    transform:translateY(-8px);

}

.stat-card h3{

    font-size:42px;

    color:#0B3D91;

    margin-bottom:10px;

}

.stat-card p{

    font-size:18px;

    color:#666;

}