.quick-actions{

    width:90%;

    margin:60px auto;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}

.action-card{

    background:linear-gradient(135deg,#0f172a,#1e293b);

    color:white;

    border-radius:18px;

    padding:35px 25px;

    text-align:center;

    cursor:pointer;

    transition:0.35s;

    box-shadow:0 12px 25px rgba(0,0,0,.18);

}

.action-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 35px rgba(0,0,0,.28);

}

.action-icon{

    font-size:55px;

    color:#38bdf8;

    margin-bottom:20px;

}

.action-card h3{

    font-size:24px;

    margin-bottom:10px;

}

.action-card p{

    color:#cbd5e1;

    font-size:15px;

}

@media(max-width:1000px){

.quick-actions{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.quick-actions{

grid-template-columns:1fr;

}

}